<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.atiladpribeiro.carnaval.carnavalparaitinga2019">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CarnavalParaitinga2019">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MapaActivity" />
        <activity android:name=".HistoriaActivity" />
        <activity android:name=".CarnavalActivity" />
        <activity android:name=".AtracoesActivity" />
        <activity android:name=".EventosActivity"></activity>
    </application>

</manifest>